h1,h2,h3,h4 {
    font-weight: 700;
    line-height: 1.3333333;
    letter-spacing: -.025em;
    padding: 1em;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1em;
}

ul, ul li {
  list-style: inside;
  padding: 1em;
}

ol, ol li {
  list-style: decimal;
  padding: 0.25em;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
