ul, ul li {
  list-style: inside;
  padding: 1em;
}

ol, ol li {
  list-style: decimal;
  padding: 0.25em;
}
.parsedown a {
  color:cornflowerblue;
  text-decoration: underline;
}
.parsedown h1{
  @apply text-2xl font-extrabold py-4
}
.parsedown h2{
  @apply text-xl font-semibold py-4
}
@tailwind base;
@tailwind components;
@tailwind utilities;
